th, td {
  padding: 15px;
  text-align: center;

}
table{
  border-collapse: collapse;
  width: 70%;
 margin: 0 auto;
}
table,th,td{
  border: 1px solid black;
width:auto;
}
thead{
  background-color: black;
  color: white;
}


.card{
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;

}
button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;

}
